@charset "UTF-8";
@import "reset";
@import "bourbon/bourbon";
@import "magnific";


$background-color: #171E23;
$shadow-color: rgba(82, 142, 151, 1);

$layout-width: 800px;
$layout-gutter: 15px;

$header-font-stack: 'BPReplay', serif;
$header-color: #5d7b8f;

$h1-size: 48px;
$h2-size: 27px;
$h3-size: 28px;
$h4-size: 22px;
$h5-size: 18px;
$h6-size: 14px;

$copy-font-stack: 'source sans pro', 'Helvetica', 'Arial', sans-serif;
$copy-font: 18px/24px $copy-font-stack;
$copy-color: #5d7b8f;

/* 
171E23
a good footer color
*/

html, body {
    height: 100%;
}

body {
    max-width: 100%;
    background-color: $background-color;
    font: $copy-font;
}

h1 {
    font-size: 28px;
    font-family: 'Montserrat';
    color: $header-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

#wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto -56px;
}

#footer, #push {
    height: 55px;
}

#hero {
    height: 280px;
    width: 100%;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid rgba(207, 223, 233, 0.2);
}

// hero element background
// using a pseudo-element so that the height and width can be scaled proportionally

#hero:after {
    content: '';
    display: block;
    background-image: url('bg.jpg');
    background-size: 700px;
    background-position: center bottom;
    background-repeat: repeat-x;
    background-color: #71B6C1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    z-index: -1;

}

div > .inner {
    position: relative;
    max-width: $layout-width;
    margin: 0 auto;
    padding: 0;
}

#hero .inner {
    height: 100%;
}

#hero .header {
    padding-top: 40px;
    height: 100%;
    text-align: center;
}

#hero .header * {
    text-align: center;
}

#hero h1, #hero h3 {
    color: #fff;
    text-align: center;
    pointer-events:none;
    position: relative;
    z-index: 15;
}

#hero h1 {
    line-height: 55px;
    font-size: $h1-size;
    text-shadow: $shadow-color 0 4px;
    font-family: $header-font-stack;
}

#hero h3 {
    line-height: 65px;
    font-size: $h3-size;
    font-family: $copy-font-stack;
    text-shadow: $shadow-color 0 3px;
    letter-spacing: 1px;
    font-weight: bold;
}


.gallery {
    font-size: 0;
    list-style: none;
    margin: auto (-$layout-gutter);
    //max-width: 100%;
}

.gallery li {
    display: inline-block;
    width: 33.33333333333%;
}

.gallery li img, .gallery li video {
    width: 100%;
    background-color: #2e2e2e;
}

.gallery li h5 {
    display: block;
    padding-top: 10px;
    vertical-align: middle;
}

.gallery li h5, .clip h5 {
    font-size: $h6-size;
    letter-spacing: 1px;
    color: #5d7b8f;
    //font-variant: small-caps;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.9;
}

.clip {
    text-align: center;
    position: relative;
    margin: 0 auto;
    max-width: 85%;
    max-height: 85%;
}

.clip h5 {
    text-align: left;
    color: #fff;
}

.clip h5 i {
    vertical-align: middle;
    float: right;
    position: relative;
    top: 5px;
    color: #73BA92;
}

.clip div {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    text-align: left;
}

.clip video {
    width: 720px;
    height: 480px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
    display: block;
    background: transparent;
}

.mfp-content .mfp-close {
    color: #fff;
}

.mfp-title {
    font-family: $copy-font-stack;
    color: #fff;
}

.mfp-counter {
    display: none;
}

.mfp-close {
    font-family: $header-font-stack;
    font-weight: bold;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b,
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    border: none;
}

.gallery li h5 i {
    vertical-align: middle;
    float: right;
    position: relative;
    top: 5px;
    color: #73BA92;
    opacity: 0.8;
}

.gallery li div {
    position: relative;
    display: block;
    margin: 0;
    padding: $layout-gutter $layout-gutter 0 $layout-gutter;
}

.gallery li div a {
    display: block;
    font-size: 0;
    line-height: 0;
}

.gallery li div a img, .gallery li div a video, img.mfp-img {
    border-radius: 3px;
}

.gallery li div a:hover img {
    opacity: 0.9;
}

.gallery.quotes li div {
    vertical-align: middle;
    display: inline-block;
}

.content h3 {
    font-size: $h3-size;
    font-family: $header-font-stack;
    line-height: 32px;
}

.content h4 {
    font-size: $h4-size;
    font-family: $header-font-stack;
    line-height: 32px;
}

.content h3.emphasis {
    display: block;
    position: relative;
    text-align: center;
    margin-left: $layout-gutter * -2;
    padding: $layout-gutter $layout-gutter * 2;
}



.content .emphasis {
    background-color: #212b32;
    border-radius: 3px;
    border: solid 1px rgba(207,223,233,0.05);
    margin: $layout-gutter*2 0 $layout-gutter 0;
    display: block;
    padding: $layout-gutter;
    text-align: center;
    position: relative;
    line-height: 0;
    font-size: 0;
}

.content .emphasis.invert {
    background: url('bg.jpg');
    background-size: 500px;
    background-position: center bottom;
    background-repeat: repeat-x;
    background-color: #71B6C1;
    border: none;
}

.content .emphasis .more {
}

.content div.quote {
    padding: 0;
    width: 50%;
    margin: 0;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
}

.content .quote h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

div.quote span {
    font-family: $copy-font-stack;
    font-weight: bold;
    font-size: 36px;
    opacity: 0.5;
    margin: 0 3px;
}

.quote {
    background-color: #212b32;
    border-radius: 3px;
    margin: 15px 0;
    display: block;
}

.content .badges li a {
    margin-left: 0;
    margin-right: $layout-gutter;
    border: solid 1px rgba(207,223,233,0.05);
}

.badges img {
    filter: blur(15px);
}

.center {
    text-align: center;
}

.badges {
    font-size: 0;
    list-style: none;
    text-align: center;
    display: inline;
    margin: 0;
    z-index: 20;
    position: relative;
}

.badges li {
    display: inline-block;
}

.badges li a {
    width: 170px;
    height: 60px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background: #212b32;
    border: solid 1px rgba(7,23,33,0.1);
}

.badges li a:hover {
    background-color: #3f5361;
}

.badges li a:active {
    top: 2px;
    background-color: #2b3942;
}

.badges li a {
    display: block;
    line-height: 0;
}

#preload {
    display: none;
}

#footer {
    color: #527c98;
    border-top: 1px solid rgba(207, 223, 233, 0.05);
    width: 100%;
    background: #212b32;
    line-height: 52px
}

#footer ul {
    float: right;
    margin-right: $layout-gutter;
}

#footer ul li {
    display: inline-block;
    margin-left: 10px;
}

#footer a {
    color: $copy-color;
    text-decoration: none;
}

#footer a:hover {
    color: #fff;
}

#footer h3 span {
    margin-left: 10px;
    opacity: 0.6;
}

.content {
    padding: 15px 0 15px 0;
    color: $copy-color;
    overflow: hidden;
}

.content.light {
    background-color: #71B6C1;
    background-color: #212b32;
}

.content > div {
    padding: 0 15px;
}

.content hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted #2f3a45;
    opacity: 0.6;
}

.content h2 {
    font-family: $header-font-stack;
    text-shadow: rgba(40, 40, 40, 0.5) 0 2px;
    font-size: $h2-size;
    line-height: 52px;
    display: block;
}

.content .slogan {
    line-height: 36px;
    margin: ($layout-gutter - 2px) 0 $layout-gutter 0;
}

span.icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 4px;
    padding: 3px;
    text-align: center;
    font-size: 16px;
    font-family: $header-font-stack;
    line-height: 0;
    vertical-align: middle;
}

span.icon img {
    max-height: 100%;
    display: inline-block;
}

.content h2 span.super {
    font-size: 16px;
    vertical-align: super;
    margin-left: 5px;
}

@-webkit-keyframes pulsate {
    0%   { color: $copy-color; }
    50%  { color: #73BA92; }
    100% { color: $copy-color; }
}

.pulse {
    @include animation( pulsate 1.5s infinite );
}

.mail {
    padding: $layout-gutter 0;
}

.mail input {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    background: #212b32;
    border: solid 1px rgba(207, 223, 233, 0.05);
    padding: 10px 10px 8px 10px;
    color: #5d7b8f;
    font: $copy-font;
    margin-right: 10px;
    -webkit-appearance: none;
    @include placeholder {
        color: #5d7b8f;
    }
}

.mail input:hover {
    background-color: #3f5361;
    color: #fff;
}

.mail input[type="submit"]:active {
    top: 1px;
    background-color: #2b3942;
}

.mail input[type="submit"]:hover {
    cursor: pointer;
}

.mail input[type="email"] {
    color: #fff;
    background-color: #2b3942;
    min-width: 200px;
}



#downloads {
    font-size: 0;
    padding: 10px 0;
}


#downloads li {
    display: inline-block;
    margin: 0 $layout-gutter 0 0;
    font-size: 18px;
    vertical-align: middle;
    border-radius: 4px;
    background: #212b32;
    border: solid 1px rgba(207, 223, 233, 0.05);
    position: relative;
    text-align: left;
}

#downloads a {
    text-decoration: none;
    color: #5d7b8f;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 10px 8px 10px;
    line-height: 18px;
}

#downloads .platform:active {
    top: 1px;
    background-color: #2b3942;
}

#downloads .platform:active a {
    //color: #cfdfe9;
}

#downloads li:hover {
    background-color: #3f5361;
}

#downloads li:hover a {
    color: #fff;
}

#downloads li i {
    font-size: 28px;
    margin: -1px 8px 0 0;
    vertical-align: middle;
}

.split #downloads li {
    //display: block;
    //margin-bottom: $layout-gutter;
}

.split {
    font-size: 0;
}

.split > div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.split > div ul {
    max-width: 100%;
}


h2 i {
    margin-right: 5px;
}

i.small {
    @include transform(scale(0.7, 0.7));
}

.content h2.pulse {

}

#hero .inner * {
    z-index: 5;
}

#fruits {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -60px;
    @include user-select(none);
}

#fruits img[class*=' fruit-'] {
    position: absolute;
    @include transform( scaleZ(1.0) );
    @include user-select(none);
}

#fruits span {
    position: absolute;
    z-index: 4;
    font-size: 24px;
    font-family: $header-font-stack;
    color: #fff;
    margin-top: 24px;
    text-shadow: rgba(82, 142, 151, 1) 0 2px;
    white-space: pre;

    @include transform( scale(0, 0) );
    @include transition( all 0.35s ease-in-out );
}

#fruits span.visible {
    @include transform( scale(1, 1) );
}

#fruits img.fruit:hover {
    cursor: pointer;
}

#fruits img.fruit:active {
    margin-top: 5px;
}

#fruits img.popped {
    @include transform(scale(0, 0));
}

#fruits img.fruit, #fruits img.vine {
    position: absolute;
}

#fruits img.fruit {
    top: -10%;
    @include transition(transform 0.325s ease-in-out);
}

#fruits img.vine {
    top: -10%;
    pointer-events:none;
    @include transform( translate(0px, -90%) scale(0.12, 10) );
    @include transform-origin( 50% 100% );
}

#fruits img.vine.popped {
    /* override inline value applied via js */
    top: 0% !important;
    @include transition(top 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

#fruits img.popped {
    top: 0%;
}

#score {
    position: absolute;
    z-index: 10;
    top: $layout-gutter;
    right: $layout-gutter;
    color: #fff;
    font-family: $header-font-stack;
    text-shadow: rgba(40, 40, 40, 0.5) 0 2px;
    font-size: $h2-size;
    line-height: 28px;
    vertical-align: middle;
    letter-spacing: 1px;
}

@include keyframes(bobble) {
    0% {
        @include transform(translateY(0));
    }
    50% {
        @include transform(translateY(5px));
    }
    100% {
        @include transform(translateY(0));
    }
}

#giraffe {
    height: 240px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin-bottom: 0%;

    @include transition(
            all 0.55s ease-in-out,
            margin-bottom 0.85s cubic-bezier(0.23, 1, 0.32, 1)
        );

    @include animation(bobble 5.0s infinite);


    -webkit-user-drag: none;
    user-drag: none;

}

#hero:hover #giraffe {
    margin-bottom: -280px;
    @include transition(margin-bottom 0.4s ease-out);
}

#giraffe.hidden {
    margin-bottom: -280px;
    @include transition(margin-bottom 0.6s ease-out);
}

#grass {
    width: 100%;
    height: 68px;
    background: url('grass.png') repeat-x;
    margin-top: -35px;
    z-index: 6;
    position: relative;
}

#soon {
    padding: 20px 30px 20px 20px;
    text-align: left;
    max-width: 300px;
    margin: 40px auto;
    position: relative;
    border-radius: 4px;
    background: #71B6C1;
    border: solid 1px;
    line-height: 28px;
    font-family: "BPReplay",serif;
    font-size: 28px;
    vertical-align: middle;
    border: none;
    text-align: center;
    color: #fff;
    text-shadow: #528e97 0 2px;
}

.pink {
    color: #AA4D8D;
}

.yellow {
    color: #FFFF8C;
    opacity: 0.8;
}

.orange {
    color: #E0A553;
    opacity: 0.9;
}

.green {
    color: #73BA92;
    opacity: 0.8;
}

.bright {
    color: #fff;
    opacity: 0.75;
}

.white {
    color: #fff;
    text-shadow: $shadow-color 0 3px;
    letter-spacing: 1px;
    font-weight: bold;
}

.blue {
    color: #71B6C1;
}

.purple {
    color: #724a87;
}

.aside:hover {
    cursor: pointer;
}

.preserve {
    white-space: pre;
}

@font-face {
    font-family: 'BPReplay';
    src: url('fonts/bpreplay/bpreplay-webfont.eot');
    src: url('fonts/bpreplay/bpreplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bpreplay/bpreplay-webfont.woff2') format('woff2'),
         url('fonts/bpreplay/bpreplay-webfont.woff') format('woff'),
         url('fonts/bpreplay/bpreplay-webfont.ttf') format('truetype'),
         url('fonts/bpreplay/bpreplay-webfont.svg#bpreplaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 840px) {

    .split > div.big {
        //width: 60%;
    }

    .split > div.small {
        //width: 40%;
    }

    #downloads li {
        margin-bottom: 10px;
        display: block;
    }

    .split .badges li {
        display: block;
    }

    .split .badges li a {
        width: 200px;
        height: 70px;
    }

    .split > div,
    .split > div.small,
    .split > div.big  {
        //width: 100%;
        //display: block;
    }
}


@media (max-width: 800px) {
    .gallery li {
        width: 50%;
    }

    #giraffe {
        height: 50%;
    }

    #footer h3 {
        padding-left: $layout-gutter;
    }

}

@media (max-width: 700px) {

    .split > div,
    .split > div.small,
    .split > div.big  {
        width: 100%;
        display: block;
    }

    .split .badges li,
    .split #downloads li {
        display: inline-block;
    }

}


@media (max-width: 500px) {

    #downloads li {
        //display: block;
        //margin: 0 0 10px 0;
    }

    #footer {
        height: auto;
    }

    #footer ul, #footer h3 {
        text-align: center;
        float: none;
        margin: 0;
    }

    #footer ul {
        margin: 0 0 10px 0;
    }


    #footer ul li {
        display: block
    }

    #footer .inner {
        padding: 0;
    }

    .content div.quote {
        padding: $layout-gutter 0;
        width: 100%;
        margin: 0;
        display: block;
        line-height: 0;
    }

    #hero h3 {
        font-size: $h4-size;
    }

    .mail input[type="email"] {
        min-width: 120px;
    }

    .split > div {
        padding: $layout-gutter 0;
    }
}

@media (max-width: 480px) {
    .clip {
        max-width: 100%;
        max-height: 100%;
    }

    .split .badges li,
    .split #downloads li {
        display: block;
    }

    #downloads li {
        margin-bottom: 10px;
        display: block;
        margin-right: 0;
    }

    .split > div.big {
        //text-align: center;
    }

    .content .emphasis {
        margin: $layout-gutter 0;
    }
}

@media (max-width: 420px) {

    .gallery li {
        width: 100%;
    }

    #hero {
        height: 280px;
    }

    .split .badges li {
        display: block;
    }

    #hero .badges li a {
        width: 155px;
        height: 55px;
        margin: 10px 5px;
    }

    .split .badges li a {
        margin: 10px 5px;
    }

    .content .slogan {
        line-height: 32px;
    }

    #giraffe {
        display: none;
    }

    #fruits {
        display: none;
    }

    .content {
        width: 100%;
        padding: $layout-gutter 0 $layout-gutter 0;
    }

    .badges {
        text-align: center;
    }

    #downloads {
        max-width: 100%;
    }

    #wrapper {
        margin: 0 auto;
    }

    #push {
        height: auto;
    }

    .content > div {
        padding: 0 $layout-gutter;
    }

    .content h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .mail input {
        width: 100%;
        margin-bottom: $layout-gutter;
    }

    .mail input[type="email"] {
        padding: $layout-gutter 0;
        text-indent: 10px;
    }
}

@media (max-width: 350px) {

    #hero {
        height: 320px;
    }

    #hero .badges li a {
        width: 170px;
        height: 60px;
        margin: 10px 10px -10px 10px;
        line-height: 0;
    }
}