@import 'reset';
@import 'animate';
@import 'magnific';

/* 
171E23
a good footer color
*/

body {
    background-color: #171E23;
    /*background: #F1DA6F;*/
    max-width: 100%;
    font: 16px/24px 'source sans pro', sans-serif;
}

h1 {
    font-size: 28px;
    font-family: 'Montserrat';
    color: #5d7b8f;
}

img {
    max-width: 100%;
    /*image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges */
}

#wrapper {
    width: 100%;
}

#hero {
    height: 300px;
    width: 100%;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid rgba(207, 223, 233, 0.2);
}

#hero:after {
    content: '';
    display: block;

    background: rgba(255, 255, 255, 0.1);
    background-image: url('bg.jpg');
    background-size: 650px;
    background-position: center bottom;
    background-repeat: repeat-x;
    background-color: #71B6C1;

    /*
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    */

    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;


    z-index: -1;
}

div > .inner {
    position: relative;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

#hero .inner {
    height: 100%;
}

#hero .inner > div {
    padding-top: 40px;
    height: 100%;
    text-align: center;
}

#hero .inner > div * {
    text-align: center;
}

#hero h1, #hero h3 {
    font-family: 'BPReplay';
    color: #fff;
    text-align: center;
    line-height: 60px;
    pointer-events:none;
    z-index: 15;
    position: relative;
}

#hero h1 {
    font-size: 48px;
    text-shadow: rgba(82, 142, 151, 1) 0 4px;
}
#hero h3 {
    font-size: 28px;
    text-shadow: rgba(82, 142, 151, 1) 0 3px;
}


#gallery {
    font-size: 0;
    list-style: none;
    margin: auto -15px;
    max-width: 100%;
}

#gallery li {
    display: inline-block;
    width: 33.33333333333%;
    height: 100px;
}

#gallery li img {
    width: 100%;
}


#gallery li h5 {
    font-size: 20px;
    letter-spacing: 1px;
    color: #5d7b8f;
    font-variant: small-caps;
    opacity: 0.9;
    padding-top: 10px;
    vertical-align: middle;
}

#gallery li h5 i {
    vertical-align: middle;
    float: right;
    position: relative;
    top: 5px;
    color: #73BA92;
    opacity: 0.8;
}

#gallery li div {
    position: relative;
    display: block;
    margin: 0;
    padding: 15px;
}

#gallery li div a {
    display: block;
    font-size: 0;
    line-height: 0;
}

#gallery li div a img, img.mfp-img {
    border-radius: 3px;
}

#gallery li div a:hover img {
    opacity: 0.9;
}

#badges {
    font-size: 0;
    list-style: none;
    text-align: center;
    display: inline;
    margin: 30px 0 0 0;
    z-index: 20;
    position: relative;
}

#badges li {
    display: inline-block;
    width: 170px;
    //height: 70px;
    background: #2e2e2e;
    margin: 10px;
    border-radius: 5px;
}

#badges li a {
    display: block;
    line-height: 0;
}

#footer {
    color: #527c98;
    border-top: 1px solid rgba(207, 223, 233, 0.05);
    //height: 100px;
    width: 100%;
    padding: 15px 0;
    background: #212b32;
    overflow: hidden;
}

#footer ul {
    float: right;
    margin-right: 30px;
}

#footer ul li {
    display: inline-block;
    margin-left: 10px;
}

#footer ul li a {
    color: #527c98;
    text-decoration: none;
}

#footer ul li a:hover {
    color: #fff;
}

#content {
    padding: 15px 0;
    color: #5d7b8f;
    overflow: hidden;
}

#content > div, #footer > div {
    padding: 0 15px;
}

#content hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #2f3a45;
}

#content h2 {
    font-family: 'BPReplay';
    text-shadow: rgba(40, 40, 40, 0.5) 0 2px;
    font-size: 28px;
    line-height: 56px;
}

#content h2 span {
    font-size: 16px;
    vertical-align: super;
    margin-left: 5px;
}

@-webkit-keyframes pulsate {
    0%   { color: #5d7b8f; }
    50%  { color: #73BA92; }
    100% { color: #5d7b8f; }
}
#content h2 span {
    -webkit-animation: pulsate 1.5s infinite;
}

#downloads {
    font-size: 0;
    padding: 15px 0;
}


#downloads li {
    display: inline-block;
    margin: 0 15px 0 0;
    font-size: 18px;
    vertical-align: middle;
    border-radius: 4px;
    background: #212b32;
    border: solid 1px rgba(207, 223, 233, 0.05);
    position: relative;
}

#downloads a {
    text-decoration: none;
    color: #5d7b8f;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 10px 8px 10px;
    line-height: 18px;
}

#downloads .platform:active {
    top: 1px;
    background-color: #2b3942;
}

#downloads .platform:active a {
    //color: #cfdfe9;
}

#downloads li:hover {
    background-color: #3f5361;
}

#downloads li i {
    font-size: 28px;
    margin: -1px 8px 0 0;
    vertical-align: middle;
}

#content h2.pulse {

}

#hero .inner * {
    z-index: 5;
}

#fruits {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#fruits img[class*=' fruit-'] {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}

#fruits span {
    position: absolute;
    z-index: 4;
    font-size: 24px;
    font-family: 'BPReplay';
    color: #fff;
    margin-top: 24px;
    transform: scale(0, 0);
    text-shadow: rgba(82, 142, 151, 1) 0 2px;

    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#fruits img.fruit:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

#fruits img.fruit.popped:hover {
    transform: scale(0, 0);
}

#fruits img.fruit:active {
    margin-top: 5px;
}

#fruits img.popped {
    transform: scale(0, 0);
}

#fruits img.fruit {
    top: -10%;
    -webkit-transition: all 0.175s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: all 0.175s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: all 0.175s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    //transition: all 0.175s cubic-bezier(0.6, -0.28, 0.735, 0.045);

    transition:
        all 0.175s cubic-bezier(0.6, -0.28, 0.735, 0.045),
        transform 0.175s ease-in-out,
        top 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#fruits img.vine {
    //background: red;
    top: -10%;
    position: absolute;
    transform-origin: 50% 100%;
    transform: translate(0px, -90%) scale(0.12, 10) ;

    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;

    transition:
        all 0.35s ease-in-out,
        top 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


#fruits img.popped {
    top: 0%;
}

#giraffe {
    height: 80%;
    //border-radius: 20px;
    //border: 1px solid rgba(82, 142, 151, 0.2);
    //box-shadow: rgba(82, 142, 151, 1) 0 2px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

#giraffe:hover {
    //bottom: -100px;
}

#giraffe:active {
    bottom: -150px;
}

#grass {
    width: 100%;
    height: 68px;
    background: url('grass.png') repeat-x;
    margin-top: -35px;
    z-index: 6;
    position: relative;
}


@font-face {
    font-family: 'BPReplay';
    src: url('bpreplay.otf');
}


@media (max-width: 800px) {
    #gallery li {
        width: 50%;
    }

    #giraffe {
        height: 50%;
    }
}

@media (max-width: 420px) {
    #gallery li {
        width: 100%;
    }

    #hero {
        height: 380px;
    }

    #giraffe {
        height: 33%;
    }

    #content {
        width: 100%;
    }

    #downloads li {
        display: block;
        margin: 0 0 10px 0;
    }

    #downloads {
        max-width: 100%;
        padding-right: 30px;
        //padding: 0 15px;
    }

    #footer ul, #footer h3 {
        text-align: center;
        float: none;
        margin: 0 0 10px 0;
    }

    #footer ul li {
        display: block
    }

    #footer .inner {
        padding: 0;
    }

    #content > div {
        padding: 0 15px;
    }
}

.mfp-bg {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}